<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Блюда{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <nav>
        <div class='head'>
            <a href="{% url 'index' %}">Главная</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Выход ({{ user.username }})</a>
            <a href="{% url 'add_dish' %}">Добавить блюдо</a><a href="{% url 'products' %}">Продукты</a>

            {% else %}
            <a href="{% url 'login' %}">Вход</a>
            <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>

    </nav>
</header>

<main>
    <section class="main-content container">

        {% block content %}{% endblock %}
    </section>

</main>

<footer>
    <p>сайт задумывался для работы с профессиональными ТТК</p>
</footer>
</body>
</html>
