{% extends 'main/base.html' %}

{% block content %}
  <div id="dish-container1">
    <h1>{{ dish.name }}</h1>
    <div class="author">
      <strong>Автор:</strong> {{ dish.author.username }}
    </div>
    <div class="description">
      <strong>Описание:</strong>
      <p>{{ dish.description }}</p>
    </div>
    {% if dish.photo %}
      <div class="photo">
        <img src="{{ dish.photo.url }}" alt="{{ dish.name }}">
      </div>
    {% endif %}
    <div class="technology">
      <p>Технология приготовления:</p>
      <textarea id="long-textarea" name="long-textarea" rows="4" cols="50" style="resize: both; overflow: auto;">{{ dish.technology }}</textarea>
    </div>



     <div class="dish-type">
      <strong>Тип блюда:</strong> {{ dish.get_dish_type_display }}
    </div>

    <h2>Ингредиенты</h2>
    <form method="get" action="{% url 'dish_detail' dish.id %}">
      <label for="weight">Вес блюда (г):</label>
      <input type="number" name="weight" value="{{ weight }}" step="10" min="100">
      <button type="submit">Перерасчитать</button>
    </form>

    <h3>Ингредиенты (с перерасчетом)</h3>
    <table border="1" style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
      <tr style="background-color: #f2f2f2;">
        <th>Ингредиент</th>
        <th>Брутто (г)</th>
        <th>Нетто (г)</th>
        <th>Цена (руб.)</th>  <!-- Добавили цену -->
      </tr>

      {% for ingredient in ingredients %}
        <tr>
          <td>{{ ingredient.product.name }}</td>
          <td>{{ ingredient.brutto|floatformat:2 }}</td>
          <td>{{ ingredient.netto|floatformat:2 }}</td>
          <td>{{ ingredient.price|floatformat:2 }}</td>  <!-- Отображаем цену -->
        </tr>
      {% endfor %}
    </table>

    <h3>Общая цена блюда (на {{ weight }} г):</h3>
    <ul>
      <li><strong>Общая цена:</strong> {{ total_price }} руб.</li>  <!-- Отображаем общую цену -->
    </ul>

    <h3>Пищевая ценность блюда (на {{ weight }} г):</h3>
    <ul>
      <li><strong>Калории:</strong> {{ total_calories|floatformat:2 }} ккал</li>
      <li><strong>Белки:</strong> {{ total_proteins|floatformat:2 }} г</li>
      <li><strong>Жиры:</strong> {{ total_fats|floatformat:2 }} г</li>
      <li><strong>Углеводы:</strong> {{ total_carbs|floatformat:2 }} г</li>
    </ul>
  </div>
{% endblock %}
